<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="theme.css")
  body
    .card
        header.card-header
          p.card-header-title Simple Redirect
        .card-content
          .content
            form
              fieldset(disabled)
                .field
                  label.label Source
                  .control
                    input#input-source.input.is-small(type="text" value="")
              .field
                label.label Target
                .control
                  input#input-target.input.is-small(type="text" value="")
              .field.is-grouped.has-addons.has-addons-centered
                .control
                  label.checkbox
                    input#check-enabled(type="checkbox")
                    |   Enabled
                .control
                  label.checkbox
                    input#check-regex(type="checkbox")
                    |   Regex
                .control
                  label.checkbox
                    input#check-deep-recurse(type="checkbox")
                    |   Deep Recurse
        footer.card-footer
          a#cancel-button.card-footer-item ᐊ Back
          a#del-button.card-footer-item.is-danger Delete
          a#save-button.card-footer-item.is-primary Save 🖫
    script(src="editor.bundle.js")
  
