<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    form
      label Notifications
      input#input-notifications(type="checkbox")
      label Deep Redirection
      input#input-deep-redirection(type="checkbox")
    script(src="settings.bundle.js")